@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* ESTILOS CONTENEDOR CAJA DE SUBSCRIPCION */
/*Estilo del contenedor ¿Cómo funciona PetLite?*/
.cont-how-PetLite-work {
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  background-color: #4586ef; /*Cambiar color*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 30px auto;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*Estilo del parrafo del contenedor ¿Ques es PetLite?*/
.cont-how-PetLite-work p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 18px;
}

/*Estilo del titulo del contenedor ¿Ques es PetLite?*/
.cont-how-PetLite-work h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

/*aspecto para el formulario completo lo que aparece en rojo  */
.subscription-box {
  width: 90%;
  max-width: 900px;
  margin: 30px auto; /* Centra el formulario horizontalmente */
  padding: 30px;
  background-color: #e9d9bd;
  border-radius: 50px;
}

/* Para pantallas pequeñas, ajusta el tamaño y márgenes */
@media (min-width: 540px) and (max-width: 767px) {
  .subscription-box {
    max-width: 80%;
    margin: 10px auto;
    margin-bottom: 40vh;
  }
}

@media (max-width: 390px) {
  .subscription-box {
    width: 90%;
    padding: 15px;
    margin-bottom: 30vh;
    margin-bottom: 65vh;
  }
}
@media (min-width: 391px) and (max-width: 767px) {
  .subscription-box {
    width: 90%;
    padding: 15px;
    margin-bottom: 30vh;
    margin-bottom: 50vh;
  }

  label,
  input,
  select {
    font-size: 14px;
  }

}

@media (min-width: 768px) {
  .subscription-box {
    width: 90%;
    padding: 30px;
    margin-bottom: 30vh;
    margin-bottom: 50vh;
  }
}

/* titulo h1  */

.tittle-subscription {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 24px;
  display: block;
  text-align: center;
}

/* aspecto de los form  */
.form-subscription-box {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

/*  aspecto de los label de los input */
.subscription-box label {
  margin-top: 16px;
  margin-bottom: 2px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 16px;
  color: #0c0c0c;
}

/* aspecto de los placeholder de text area de los input */

.subscription-box input[type="text"],
.subscription-box input[type="email"],
.subscription-box input[type="number"],
.subscription-box input[type="tel"] {
  width: 100%;
  padding: 2px;
  border: none;
  font-family: "Nunito";
  border-radius: 5px;
  font-size: 16px;
}

.subscription-box input[type="text"]:focus,
.subscription-box input[type="number"]:focus,
.subscription-box input[type="email"]:focus,
.subscription-box input[type="tel"]:focus {
  outline: none;
}

.subscription-box textarea {
  outline: none;
}

/* aspecto al area del placeholder del textarea de escribir mensaje */
.subscription-box textarea {
  resize: vertical;
  height: 50%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 4px;
}

/* ajustar el boton y darle estilos */

.subscription-box button {
  padding: 5px;
  background-color: #eab748;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 40px auto 20px;
  width: 300px;
  transition: background-color 0.3s ease;
}
/* color al boton cuando pase el mouse */
.subscription-box button:hover {
  background-color: #2c7a9e;
}

/* darle estilo al boton guion verde la anchura margen  */
.button-enviar {
  display: block;
  align-items: center;
  margin-top: 2px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Estilos para las alertas de bootstrap */
.alert {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  max-width: 300px;
  margin-top: 10px;
}

/* Para asegurar que las alertas no ocupen más espacio del necesario */
.alert-danger, .alert-success {
  font-size: 15px;
  padding: 5px;
}