/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* ESTILOS CONTENEDOR QUE ES PETLITE Y MISION-VISION */
/*Estilo del contenedor ¿Ques es PetLite?*/
.cont-what-is-PetLite {
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  background-color: #4586ef; /*Cambiar color*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 30px auto;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*Estilo del parrafo del contenedor ¿Ques es PetLite?*/
.cont-what-is-PetLite p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 18px;
}

/*Estilo del titulo del contenedor ¿Ques es PetLite?*/
.cont-what-is-PetLite h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

/*Estilo de las tarjetas de misión y visión*/
.first-tarjet {
  border-radius: 20px;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 30px auto;
  overflow: hidden;
  border: none;
}

/*Estilo de las imagenes de las tarjetas de misión y visión*/
.first-tarjet img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
}

/*Espaciado entre las columnas de la fila*/
.row-new {
  gap: 30px;
}

/*Responsive*/
@media (max-width: 380px) {
  .card {
    max-width: 100%;
  }
}

/*Estilo de las tarjetas con texto de misión y visión*/
.text-tarjet {
  background-color: transparent;
  color: black;
  border: none;
}

/*Estilo del parrafo de las tarjetas con texto de misión y visión*/
.text-tarjet p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}

/*Estilo del titulo de las tarjetas con texto de misión y visión*/
.text-tarjet h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

/*Estilo del nombre de la app*/
.name-app {
  font-weight: bold;
  color: #eab748;
}

/* ESTILOS PARA LAS TARJETAS DESARROLLADORES */
.container-cards {
  padding: 80px;
}

.card-container {
  perspective: 2000px; /* Para dar el efecto 3D */
  padding: 3%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 266px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* Cuando pasa el cursor la tarjeta gira 180 grados sobre el eje Y,
lo que genera el efecto de voltear*/
.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.flip-card {
  position: absolute; /* para tener las tarjetas back y front un sobre otra */
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #fff;
  border-radius: 20px;
}

.card-back {
  background-color: #a09d98; /* Color fondo */
  color: rgb(0, 0, 0); /*Color Letra*/
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: auto; /* Para que no se desborde el texto */
  padding-top: 20px;
}

/* Ajuste del tamaño de imagen con el div */
.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.dev-description {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 6px;
  padding-right: 6px;
}

.dev-name {
  color: white;
  font-weight: bold;
  letter-spacing: 2px; /* Espaciado de las letras */
}

.devs-cards-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

@media (min-width: 340px) and (max-width: 575px) {
  .container-cards {
    margin-bottom: 45vh;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container-cards {
    margin-bottom: 35vh;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container-cards {
    margin-bottom: 30vh;
  }
}

@media (min-width: 993px) and (max-width: 1023px) {
  .container-cards {
    margin-bottom: 25vh;
  }
}

@media (min-width: 1024px) and (min-height: 1101px) {
  .container-cards {
    margin-bottom: 30vh;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) and (max-height: 1100px) {
  .container-cards {
    margin-bottom: 50vh;
  }
}

@media (min-width: 1401px) {
  .container-cards {
    margin-bottom: 35vh;
  }
}