body{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 25px;
}

.colors{
    background-color: #EAB748;
}

.barra-login{
display: flex;
flex-direction: column;


}

.imagen{
    display: flex;
    height: 90px;
    width: 80px;
    border-radius: 10px;
    mix-blend-mode: multiply;
}


.menu-responsive{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.iconos8{
    
    display: flex;
    width: 100px;
    gap: 20px;
}


.barra-menu{
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    
   
    
}

.nav-menu{
   
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}


.form-control{
    width: 1000px;
    height: 50px;
    border-radius: 20px;

}
.placeholder-responsive{
    
}

.pplaceholder{
    display: none;
} 

.nav-link{

    color: white !important ;
  font-weight: bold;
  letter-spacing: 2px;
}


@media(max-width:480px){
   .form-control{
    width: 100px;
    display: none;
    justify-content: space-between;
   }

   .placeholder-responsive{
    display: block;
    width: 400%;
    flex-direction: column;
    
   }
   .barra-login{
    direction: flex;
    flex-direction: column;
    justify-content: center;
  
    
   }


   
}

/*Estilo del contenedor ¿Ques es PetLite?*/
.cont-what-is-PetLite {
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    background-color: #4586EF; /*Cambiar color*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 30px auto;
    color: white; 
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*Estilo del parrafo del contenedor ¿Ques es PetLite?*/
.cont-what-is-PetLite p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 18px;

}

/*Estilo del titulo del contenedor ¿Ques es PetLite?*/
.cont-what-is-PetLite h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

/*Estilo de las tarjetas de misión y visión*/
.first-tarjet {
    border-radius: 20px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px auto;
    overflow: hidden; 
    border: none;
}

/*Estilo de las imagenes de las tarjetas de misión y visión*/
.first-tarjet img {
    width: 100%;
    height: 100%;
    position:absolute;
    object-fit: cover;
    border-radius: 20px;
}

/*Espaciado entre las columnas de la fila*/
.row-new{
    gap:30px;
}

/*Responsive*/
@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}

/*Estilo de las tarjetas con texto de misión y visión*/
.text-tarjet{
    background-color: transparent;
    color:black;
    border:none;
}

/*Estilo del parrafo de las tarjetas con texto de misión y visión*/
.text-tarjet p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

/*Estilo del titulo de las tarjetas con texto de misión y visión*/
.text-tarjet h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

/*Estilo del nombre de la app*/
.name-app{
    font-weight: bold; 
    color: #EAB748;
}

/*Estilos Footer*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

footer 
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}

footer 
{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, 
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li,
footer .menu li
{
    list-style: none;
}

footer .social_icon li a
{
    font-size: 20px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px); 
}

footer .menu li a
{
    font-size: 16px;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p 
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}

footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}